<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid_24.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/superfish.css">
    <script type="text/javascript" src="js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.equalheights.js"></script>
    <script type="text/javascript" src="js/flashobject.js"></script>
	<!--[if lt IE 7]>
  		<div style=' clear: both; text-align:center; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a></div>  
 	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
<div class="bg">
    <div class="bg1">
<!--==============================header=================================-->
        <header>
            <div class="main">
                <nav>
                	<div class="padding">
                        <div class="contacts">
                            <span>8901 Marmora Road, Glasgow,  D04 89GR</span>
                            Tel: +1 959 552 5963
                        </div>
                        <ul class="sf-menu">
                            <li class="current"><a href="index.html">home</a></li>
                            <li><a href="index-1.html">about</a></li>
                            <li>
                                <a href="index-2.html">MAINTENANCE</a>
                                <ul>
                                    <li><a href="#">- Complete Computer Diagnostics</a></li>
                                    <li><a href="#">- Complete Safety Analysis</a></li>
                                    <li><a href="#">- Drivability Problems</a></li>
                                    <li><a href="#">- Tune-ups</a></li>
                                    <li><a href="#">- Oil Changes</a></li>
                                </ul>
                            </li>
                            <li><a href="index-3.html">Repair</a></li>
                            <li><a href="index-4.html">Price List</a></li>
                            <li><a href="index-5.html">Locations</a></li>
                        </ul>
                        <a class="logo" href="index.html">Car<span>repair</span></a>
                        <div class="clear"></div>
                    </div>
                </nav>
                <div class="flash-1">
                    <div id="head">
                        <div class="aligncenter"><a href="http://www.adobe.com/go/EN_US-H-GET-FLASH"><img src="http://www.adobe.com/images/shared/download_buttons/get_adobe_flash_player.png" alt="" /></a></div>
                    </div>
                    <script type="text/javascript">
                        var fo = new FlashObject("flash/slideshow_fv8.swf", "head", "950", "385", "8", "");
                        fo.addParam("quality", "high");
                        fo.addParam("wmode", "transparent");
                        fo.addParam("scale", "noscale");
                        fo.write("head");
                    </script>
                </div>
                <div class="blocks">
                	<div class="block first">
                    	<div class="padding">
                            <strong class="dropcap">0<span>1</span></strong>
                            <h2>Quality</h2>
                            <div class="clear"></div>
                            <div class="p1"></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">>>></a>
                        </div>
                    </div>
                	<div class="block">
                    	<div class="padding">
                            <strong class="dropcap">0<span>2</span></strong>
                            <h3>Professionalism</h3>
                            <div class="clear"></div>
                            <div class="p1"></div>
                            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">>>></a>
                        </div>
                    </div>
                	<div class="block">
                    	<div class="padding">
                            <strong class="dropcap">0<span>3</span></strong>
                            <h2>Diversity</h2>
                            <div class="clear"></div>
                            <div class="p1"></div>
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">>>></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!--==============================content================================-->
        <section id="content">
            <div class="container_24">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="worktime">
                        	<h3>Our Hours:</h3>
                            <h6>24 Hour Emergency Towing</h6>
                            Monday - Friday: 7:30am - 6pm<br>
                            Saturday: 7:30am - Noon<br>
                            Night Drop Available
                        </div>
                        <div class="box">
                        	<div class="padding">
                                <h3>About Us</h3>
                                <h6 class="p2">Lorem ipsum dolor sit amet, adipisi cing elit, sed do eiusmod.</h6>
                                <figure class="border p2"><img src="images/page1-img1.jpg" alt=""></figure>
                                <p class="p2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet.</p>
                                <a class="button" href="#">More About Us</a>
                            </div>
                        </div>
                    </article>
                    <article class="grid_16">
                        <div class="box blue">
                        	<div class="padding">
                                <h3>Auto Repair <span>can handle all of your auto repair services including:</span></h3>
                                <div class="wrapper p2">
                                    <ul class="list-1 fleft spacing">
                                        <li>- <a href="#">Complete Computer Diagnostics</a></li>
                                        <li>- <a href="#">Complete Safety Analysis</a></li>
                                        <li>- <a href="#">Drivability Problems</a></li>
                                        <li>- <a href="#">Tune-ups</a></li>
                                        <li>- <a href="#">Oil Changes</a></li>
                                        <li>- <a href="#">Tires</a></li>
                                    </ul>
                                    <ul class="list-1 fleft spacing">
                                    	<li>- <a href="#">Brake repair specialists</a></li>
                                    	<li>- <a href="#">Mufflers and Exhaust Systems</a></li>
                                    	<li>- <a href="#">Steering and Suspensions</a></li>
                                    	<li>- <a href="#">Alignments</a></li>
                                    	<li>- <a href="#">Fuel System Services</a></li>
                                    	<li>- <a href="#">Coolant Systems</a></li>
                                    </ul>
                                    <ul class="list-1 fleft">
                                    	<li>- <a href="#">Emission Repair Facility</a></li>
                                    	<li>- <a href="#">Air Conditioning Service</a></li>
                                    	<li>- <a href="#">Electrical Systems</a></li>
                                    	<li>- <a href="#">Fleet Maintenance</a></li>
                                    	<li>- <a href="#">Engine Work</a></li>
                                    	<li>- <a href="#">Maryland State Inspections</a></li>
                                    </ul>
                                </div>
                                <a class="button1" href="#">All services &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span></span></a>
                            </div>
                        </div>
                        <div class="wrapper">
                        	<article class="grid_8 alpha">
                            	<div class="box maxheight">
                                	<div class="padding">
                                    	<h6>What is the difference between maintenance and repair?</h6>
                                        <p class="indent-bot"><strong class="color-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong></p>
                                        <p class="p2">Lorem ipsum dolor sit amet, consectetur adipisi- cing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        <a class="button1" href="#">Read more</a>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_8 omega extra-wrap">
                            	<div class="box maxheight">
                                	<div class="padding color-4">
                                    	<h3>Our Contacts</h3>
                                        <div class="wrapper"><iframe id="map_canvas" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div>
                                        Demolink.org  8901 Marmora Road, Glasgow,<br>
                                        D04 89GR.<br>
                                        Telephone: +1 959 552 5963;<br>
                                        FAX: +1 959 552 5963
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>
<!--==============================footer=================================-->
<footer>
	<div class="main">
    	<ul class="footer-menu">
        	<li class="current"><a href="index.html">home</a></li>
        	<li><a href="index-1.html">about</a></li>
        	<li><a href="index-2.html">MAINTENANCE</a></li>
        	<li><a href="index-3.html">Repair</a></li>
        	<li><a href="index-4.html">Price List</a></li>
        	<li><a href="index-5.html">Locations</a></li>
        </ul>
        Car repair&nbsp; &copy; 2011 &nbsp; &nbsp; &nbsp;<a href="index-6.html">Privacy Policy </a>
    </div>
    <!-- {%FOOTER_LINK} -->
</footer>
</body>
</html>