<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid_24.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/superfish.css">
    <script type="text/javascript" src="js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.equalheights.js"></script>
	<!--[if lt IE 7]>
  		<div style=' clear: both; text-align:center; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a></div>  
 	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
<div class="bg">
    <div class="bg1">
<!--==============================header=================================-->
        <header>
            <div class="main">
                <nav>
                	<div class="padding">
                        <div class="contacts">
                            <span>8901 Marmora Road, Glasgow,  D04 89GR</span>
                            Tel: +1 959 552 5963
                        </div>
                        <ul class="sf-menu">
                            <li><a href="index.html">home</a></li>
                            <li class="current"><a href="index-1.html">about</a></li>
                            <li>
                                <a href="index-2.html">MAINTENANCE</a>
                                <ul>
                                    <li><a href="#">- Complete Computer Diagnostics</a></li>
                                    <li><a href="#">- Complete Safety Analysis</a></li>
                                    <li><a href="#">- Drivability Problems</a></li>
                                    <li><a href="#">- Tune-ups</a></li>
                                    <li><a href="#">- Oil Changes</a></li>
                                </ul>
                            </li>
                            <li><a href="index-3.html">Repair</a></li>
                            <li><a href="index-4.html">Price List</a></li>
                            <li><a href="index-5.html">Locations</a></li>
                        </ul>
                        <a class="logo" href="index.html">Car<span>repair</span></a>
                        <div class="clear"></div>
                    </div>
                </nav>
            </div>
        </header>
<!--==============================content================================-->
        <section id="content">
            <div class="container_24">
                <div class="wrapper">
                    <article class="grid_8">
                        <div class="box yellow color-4 text-1 prev-indent-bot">
                        	<div class="padding">
                            	<h3>Our Mission</h3>
                                <h6>Praesent vestibulum molestie</h6>
                                <p>Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</p>
                                Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            </div>
                        </div>
                        <div class="box">
                        	<div class="padding">
                                <h3>Specialised in the Automotive Industry</h3>
                                <h6 class="p3">Lorem ipsum dolor sit amet, adipisi cing elit, sed do eiusmod.</h6>
                                <figure class="img-indent-bot"><img src="images/page2-img2.jpg" alt=""></figure>
                                <p class="p2">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa.</p>
                                <p class="p2">Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum.</p>
                                <ul class="list-2 indent-bot">
                                	<li><a href="#">Proin ullamcorper urna</a></li>
                                	<li><a href="#">Aenean auctor wisi et urna</a></li>
                                	<li><a href="#">Integer rutrum ante eu lacus</a></li>
                                	<li><a href="#">Mauris accumsan nulla</a></li>
                                </ul>
                                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo.</p>
                                <a class="button" href="#">read more</a>
                            </div>
                        </div>
                    </article>
                    <article class="grid_16">
                        <div class="box prev-indent-bot">
                        	<div class="padding">
                                <h3>Long-term Business</h3>
                                <div class="wrapper p2">
                                    <figure class="border img-indent"><img src="images/page2-img1.jpg" alt=""></figure>
                                    <h6>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor.</h6>
                                    <p class="p2"><strong class="color-3">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue.</strong></p>
                                    Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
                                </div>
                                <a class="button" href="#">read more</a>
                            </div>
                        </div>
                        <div class="box blue color-1">
                            <div class="padding">
                            	<h3>Management</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet.</p>
                                <div class="wrapper p2">
                                	<div class="img-indent2 col-1">
                                    	<figure class="border p2"><img src="images/page2-img3.jpg" alt=""></figure>
                                        <p class="text-2 p1">Mark Johnson</p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                                    </div>
                                	<div class="img-indent2 col-1">
                                    	<figure class="border p2"><img src="images/page2-img4.jpg" alt=""></figure>
                                        <p class="text-2 p1">Bradley Grosh</p>
                                        Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.
                                    </div>
                                	<div class="fleft col-1">
                                    	<figure class="border p2"><img src="images/page2-img5.jpg" alt=""></figure>
                                        <p class="text-2 p1">Patrick Pool</p>
                                        Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper">
                        	<article class="grid_8 alpha">
                            	<div class="box cards maxheight">
                                	<div class="padding">
                                    	<h5>Finish first with the<br>credit you need</h5>
                                        <h4 class="reg">today!</h4>
                                        <a class="button1" href="#">click here</a>
                                    </div>
                                </div>
                            </article>
                            <article class="grid_8 omega">
                            	<div class="box maxheight">
                                	<div class="padding">
                                    	<h3>Our History</h3>
                                        <p class="p1"><strong class="color-3">1998</strong></p>
                                        <p class="p2">Lorem ipsum sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                        <p class="p1"><strong class="color-3">2002</strong></p>
                                        <p class="p2">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                                        <p class="p1"><strong class="color-3">2011</strong></p>
                                        Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes.
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>
<!--==============================footer=================================-->
<footer>
	<div class="main">
    	<ul class="footer-menu">
        	<li><a href="index.html">home</a></li>
        	<li class="current"><a href="index-1.html">about</a></li>
        	<li><a href="index-2.html">MAINTENANCE</a></li>
        	<li><a href="index-3.html">Repair</a></li>
        	<li><a href="index-4.html">Price List</a></li>
        	<li><a href="index-5.html">Locations</a></li>
        </ul>
        Car repair&nbsp; &copy; 2011 &nbsp; &nbsp; &nbsp;<a href="index-6.html">Privacy Policy </a>
    </div>
    Check out other <a href="http://www.templatemonster.com/" title="Website Templates" target="_blank">awesome web templates</a> on TemplateMonster.
</footer>
</body>
</html>