<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid_24.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/superfish.css">
    <script type="text/javascript" src="js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
	<!--[if lt IE 7]>
  		<div style=' clear: both; text-align:center; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" alt="" /></a></div>  
 	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
<div class="bg">
    <div class="bg1">
<!--==============================header=================================-->
        <header>
            <div class="main">
                <nav class="p-1">
                	<div class="padding">
                        <div class="contacts">
                            <span>8901 Marmora Road, Glasgow,  D04 89GR</span>
                            Tel: +1 959 552 5963
                        </div>
                        <ul class="sf-menu">
                            <li><a href="index.html">home</a></li>
                            <li><a href="index-1.html">about</a></li>
                            <li>
                                <a href="index-2.html">MAINTENANCE</a>
                                <ul>
                                    <li><a href="#">- Complete Computer Diagnostics</a></li>
                                    <li><a href="#">- Complete Safety Analysis</a></li>
                                    <li><a href="#">- Drivability Problems</a></li>
                                    <li><a href="#">- Tune-ups</a></li>
                                    <li><a href="#">- Oil Changes</a></li>
                                </ul>
                            </li>
                            <li class="current"><a href="index-3.html">Repair</a></li>
                            <li><a href="index-4.html">Price List</a></li>
                            <li><a href="index-5.html">Locations</a></li>
                        </ul>
                        <a class="logo" href="index.html">Car<span>repair</span></a>
                        <div class="clear"></div>
                    </div>
                </nav>
                <div class="blocks">
                	<div class="block first">
                    	<div class="padding">
                            <strong class="dropcap">0<span>1</span></strong>
                            <h2>Quality</h2>
                            <div class="clear"></div>
                            <div class="p1"></div>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">>>></a>
                        </div>
                    </div>
                	<div class="block">
                    	<div class="padding">
                            <strong class="dropcap">0<span>2</span></strong>
                            <h3>Professionalism</h3>
                            <div class="clear"></div>
                            <div class="p1"></div>
                            Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">>>></a>
                        </div>
                    </div>
                	<div class="block">
                    	<div class="padding">
                            <strong class="dropcap">0<span>3</span></strong>
                            <h2>Diversity</h2>
                            <div class="clear"></div>
                            <div class="p1"></div>
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">>>></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!--==============================content================================-->
        <section id="content">
            <div class="container_24">
                <div class="wrapper">                    
                    <article class="grid_16">
                        <div class="box blue color-1">
                            <div class="padding">
                            	<h3>What is the Difference Between Maintenance and Repair</h3>
                                <h6 class="color-3">Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.<br>Aenean auctor wisi et urna.</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                <ul class="list-2 img-indent-bot">
                                	<li><a href="#">Pellentesque sed dolor. Aliquam congue</a></li>
                                	<li><a href="#">Sed ut perspiciatis unde omnis iste</a></li>
                                	<li><a href="#">Ut enim ad minima veniam, quis nostrum</a></li>
                                	<li><a href="#">Donec in velit vel ipsum auctor pulvinar. Proin</a></li>
                                </ul>
                                Сonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. Aenean nec eros.
                            </div>
                        </div>
                        <div class="box">
                            <div class="padding">
                                <h3>Repair Services</h3>
                                <strong class="color-3">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo.</strong>
                                <p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci.</p>
                                <div class="wrapper p3">
                                	<figure class="border img-indent"><img src="images/page4-img1.jpg" alt=""></figure>
                                    <div class="extra-wrap">
                                    	<h6>Standard brake service</h6>
                                        Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede.
                                    </div>
                                </div>
                                <div class="wrapper p1">
                                	<figure class="border img-indent"><img src="images/page4-img2.jpg" alt=""></figure>
                                    <div class="extra-wrap">
                                    	<h6>Lifetime brake service</h6>
                                        Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="grid_8">
                        <div class="box prev-indent-bot">
                        	<div class="padding">
                                <h3>Service Warranty Options</h3>
                                <h6>Lorem ipsum dolor sit amet, adipisi cing elit, sed do eiusmod.</h6>
                                <p class="p2">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt.</p>
                                <p>Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo.</p>
                                <ul class="list-2 p2">
                                	<li><a href="#">Proin ullamcorper urna</a></li>
                                	<li><a href="#">Aenean auctor wisi et urna</a></li>
                                	<li><a href="#">Integer rutrum ante eu lacus</a></li>
                                	<li><a href="#">Mauris accumsan nulla</a></li>
                                	<li><a href="#">Proin ullamcorper urna</a></li>
                                	<li><a href="#">Aenean auctor wisi et urna</a></li>
                                </ul>
                                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
                            </div>
                        </div>
                        <div class="box yellow color-4 text-1">
                        	<div class="padding">
                            	<h3>Springs &amp; Suspension</h3>
                                <p class="p2">Fusce suscipit varius mi. Cum sociis natoque penatibus et ma dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique</p>
                                <p>Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum.</p>
                                <a class="button" href="#">read more</a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</div>
<!--==============================footer=================================-->
<footer>
	<div class="main">
    	<ul class="footer-menu">
        	<li><a href="index.html">home</a></li>
        	<li><a href="index-1.html">about</a></li>
        	<li><a href="index-2.html">MAINTENANCE</a></li>
        	<li class="current"><a href="index-3.html">Repair</a></li>
        	<li><a href="index-4.html">Price List</a></li>
        	<li><a href="index-5.html">Locations</a></li>
        </ul>
        Car repair&nbsp; &copy; 2011 &nbsp; &nbsp; &nbsp;<a href="index-6.html">Privacy Policy </a>
    </div>
    <!-- {%FOOTER_LINK} -->
</footer>
<script type="text/javascript">
	$(document).ready(function(){
	});
</script>
</body>
</html>